:root {

  /* === CORE ATMOSPHERE === */

  --tokyo-midnight-bg-main: #0f0f15;
  --tokyo-midnight-bg-sidebars: #0f0f12;
  --tokyo-midnight-bg-panels: #141418;

  /* === COLORS === */
  --tokyo-midnight-black: #020202;
  --tokyo-midnight-yellow: #cac72e;
  --tokyo-midnight-orange: #d88124;
  --tokyo-midnight-green: #4fe46a;
  --tokyo-midnight-green2: #004a0e;
  --tokyo-midnight-blue: #242ec8;
  --tokyo-midnight-purple: #6c2dc4;
  --tokyo-midnight-pink: #d9367d;
  --tokyo-midnight-red: #df0f1d;
  --tokyo-midnight-message-highlight: rgba(80,255,170,.10);
  --tokyo-midnight-custom1: linear-gradient(135deg, #450a0a 0%, #991b1b 40%, #81fca6 100%);
  --tokyo-midnight-custom2: linear-gradient(90deg, #81fca6, #7928ca, #ff007f);
  --tokyo-midnight-custom3: linear-gradient(90deg, #81fca6, #1fad9f, #0575e6);
  --tokyo-midnight-rainbow: linear-gradient(90deg, #b84a4a, #b8794c, #b8b24d, #58b86d, #4a78b8, #6f52b8, #9b4fa8, #b84a4a);


  /* === TEXT === */

  --tokyo-midnight-text-normal: #7dff9f;
  --tokyo-midnight-text-header: #32fe6f;
  --tokyo-midnight-yt-link-text: #ff0000;
  --tokyo-midnight-link-cards: #a9ffc4;

  /* === CHANNELS === */

--tokyo-midnight-channel-text: #9dffb1;
--tokyo-midnight-channel-text-hover: #6fff91;
--tokyo-midnight-channel-active: #36ea69e0;
--tokyo-midnight-category-text: #60ff78;

  /* === ICONS === */

  --tokyo-midnight-icons: #afffb1;
  --tokyo-midnight-icons-2: #8fffb4;

  /* === ACCENTS === */

  --tokyo-midnight-main: hsl(136, 100%, 68%);
  --tokyo-midnight-main2: #b8ffe7;
  --tokyo-midnight-guild_dot_online: #47fb41;
  --tokyo-midnight-guild_dot_total: #768978;

  /* === BORDERS === */

  --tokyo-midnight-border:#81fca6ec;
  --tokyo-midnight-border-strong: #26ae7597;

  /* === SHADOWS === */

  --tokyo-midnight-text-shadow: 0 0 8px rgb(127, 252, 143);
  --tokyo-midnight-shadow-glow: 0 0 18px rgba(24, 219, 92, 0.503);
  --tokyo-midnight-link-shadow: 0 0 15px rgba(244, 11, 22, 0.703);

  /* === WARNING === */

  --tokyo-midnight-ruby-hot-pink: #FF4DA4;
  --tokyo-midnight-ruby-soft-pink: #FFA6D2;
  --tokyo-midnight-ruby-gold: #FFCA7A;
  --tokyo-midnight-ruby-crimson: #c61446;
  --tokyo-midnight-ruby-maroon: #400718;

  /* === SETTINGS - MEMBERLIST === */
 
    --tokyo-memberlist-enabled: 1;
    --tokyo-memberlist-width: 240px;
    --tokyo-memberlist-visible-edge: 28px;
    --tokyo-memberlist-sensor-width: 55px;
    --tokyo-memberlist-collapsed: calc(var(--tokyo-memberlist-visible-edge) + 30px);
}

/* ========================== */
/* TEXT */
/* ========================== */

[class*="slateTextArea_"],
.public-DraftEditorPlaceholder-inner,
.public-DraftEditor-content,
.cooldownText_b21699 {
    color: var(--tokyo-midnight-text-normal) !important;
}

[class*="textAreaSlate_"],
[class*="placeholder_"][class*="slateTextArea_"] {
    text-shadow:
        var(--tokyo-midnight-text-shadow) !important;
}
/* ========================== */
/* MENTIONS */
/* ========================== */

[class*="mentioned_"] {
    background-color:
        #1cff5532 !important;

    border:
        1px solid
        var(--tokyo-midnight-border);
}

[class*="mentioned_"]:hover {
    background-color:
        #00ff5541 !important;

    border:
        1px solid
        var(--tokyo-midnight-border-strong);
}

[class*="mentioned_"]::before {
    background-color:
        #2ed568 !important;
}

/* ========================== */
/* SERVER HEADER */
/* ========================== */

[data-has-banner]
[aria-label*="server actions"] {

    border:
        1px solid
        var(--tokyo-midnight-border);
}

[data-has-banner]
[aria-label*="server actions"]
.name_f37cb1 {

    color:
        var(--tokyo-midnight-category-text)
        !important;

    text-shadow:
        var(--tokyo-midnight-text-shadow);
}

[data-has-banner]
[aria-label*="server actions"]
.headerChildren_f37cb1 svg {

    color:
        var(--tokyo-midnight-text-normal)
        !important;

    filter:
        drop-shadow(
            var(--tokyo-midnight-text-shadow)
        );
}

/* ========================== */
/*         SEARCH             */
/* ========================== */

[class*=searchBar_] {
    border:
        2px solid
        var(--tokyo-midnight-border);
}

/* ========================== */
/*         SLOWMODE           */
/* ========================== */

.chatGradientBase__36d07 {

    background:
        linear-gradient(
            to top,
            #07e2576a,
            #08e03b2a,
            transparent
        ) !important;

    backdrop-filter:
        blur(1px) !important;
}

/* ========================== */
/*           EMBEDS           */
/* ========================== */

.embedFull__623de {

    background:
        linear-gradient(
            180deg,
            rgba(3, 160, 61, 0.208),
            #016b282d
        ) !important;

    border:
        2px solid #07e22f3c !important;

    backdrop-filter:
        blur(1px) !important;
}

/* ========================== */
/*     NEW MESSAGE BAR        */
/* ========================== */

[class*="newMessagesBar"] {

    background:
        linear-gradient(
            180deg,
            rgba(3, 160, 61, 0.503),
            rgba(1, 107, 40, 0.437)
        ) !important;

    border:
        2px solid #07e2573c !important;

    backdrop-filter:
        blur(1px) !important;
}

/* ========================== */
/*       HEADER ICONS         */
/* ========================== */

[aria-label="Threads"] svg,
[aria-label="Pinned Messages"] svg,
[aria-label="Notification Settings"] svg,
svg[aria-label="Search"] {

    color:
        var(--tokyo-midnight-icons)
        !important;
}

/* === MEMBER LIST === */
[class*="members_"] {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}

/* === CHAT === */
[class*="messagesWrapper_"] {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}

/* === CHAT INPUT CONTAINER === */
[class*="scrollableContainer_"] {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}

/* === CHAT INPUT AREA === */
[class*="form_"], 
[class*="formWithLoadedChatInput_"] {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}
[class*="subtitleContainer_"] [class*="title_"] {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}

/* === APP BACKGROUND === */

.appMount__51fd7,
.bg__960e4,
.directoryContainer_da3f59 {
    background: var(--tokyo-midnight-bg-main);
    background-attachment: fixed !important;
}

.sidebar__5e434:after {
    background: var(--tokyo-midnight-bg-main);
}

/* === SERVER LIST === */

nav[class*="guilds_"] {
    background: var(--tokyo-midnight-bg-main) !important;
    background-attachment: fixed !important;
}

/* === SERVER HEADER PANEL === */

[data-has-banner] {
    background: var(--tokyo-midnight-bg-main) !important;
    background-attachment: fixed !important;
}
