/* === TOKYOMIDNIGHT SETTINGS === */

:root {

    /* === ADDONS === */

    --tokyo-memberlist-enabled: 0;
    --tokyo-gamecards-enabled: 1;

    /* === WIDTHS === */

    --tokyo-memberlist-expanded-width: 240px;

    /* === SPEED === */

    --tokyo-transition-fast: .18s ease;
}
