
/* @name TokyoMidnight MemberList
* @author SnajperEXE
* @version 1.0.0
* @description Smart smooth collapsing member list addon for TokyoMidnight. */

/* ==================== */
/*     MEMBER LIST      */
/* ==================== */

/* MEMBER WRAPPER */

[class*="membersWrap_"] {

    min-width: 0 !important;
}

/* MEMBERS PANEL */

[class*="members_"] {

    width: 64px !important;
    border-left: 1px solid rgba(129, 252, 166, .10);
    box-shadow: -2px 0 10px rgba(129, 252, 166, .04);
    overflow: hidden;
    transition: width .25s cubic-bezier(.22, 1, .36, 1), border-color .22s ease, box-shadow .22s ease !important;
}

/* OPEN PANEL */

[class*="membersWrap_"]:hover [class*="members_"],
[class*="membersWrap_"]:focus-within [class*="members_"] {

    width: 240px !important;
    border-left: 1px solid transparent;
    box-shadow: none;
}

/* ROLE LABELS */

[class*="membersWrap_"] [class*="membersGroup_"] {

    margin-right: auto;
    width: 57px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    direction: rtl;
    word-spacing: 1000px;
    transition: width .25s cubic-bezier(.22, 1, .36, 1), margin .25s cubic-bezier(.22, 1, .36, 1) !important;
}

/* UNROLL ROLE LABELS */

[class*="membersWrap_"]:hover [class*="membersGroup_"],
[class*="membersWrap_"]:focus-within [class*="membersGroup_"] {

    width: 100%;
    margin: 0;
    direction: ltr;
    word-spacing: normal;
    text-overflow: ellipsis;
}
