
/* @name TokyoMidnight MemberList
* @author SnajperEXE
* @version 1.0.0
* @description Smart smooth collapsing member list addon for TokyoMidnight. */


/* SETTINGS */

:root {

```
--tokyo-memberlist-enabled: 1; /* change it to --tokyo-memberlist-enabled: 0; if you want to disable it and have normal, default member list */

--tokyo-memberlist-collapsed-width: 68px;
--tokyo-memberlist-expanded-width: 240px;

--tokyo-memberlist-transition: .24s ease;

--tokyo-memberlist-hover-shadow: 0 0 18px rgba(129,252,166,.08);

--tokyo-memberlist-bg: rgba(8, 10, 14, .82);
```

}

/* ========================== */
/*        MEMBER LIST         */
/* ========================== */

[class*="membersWrap_"] {

    width: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1), min-width 0.3s cubic-bezier(0.25, 1, 0.5, 1), max-width 0.3s cubic-bezier(0.25, 1, 0.5, 1) !important;
    position: relative;
}

/* INVISIBLE SENSOR */

[class*="membersWrap_"]::after {

    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    z-index: 999;
    pointer-events: all;
}

/* PANEL EXPANSION */


[class*="membersWrap_"]:hover,
[class*="membersWrap_"]:active {

    width: 240px !important;
    min-width: 240px !important;
    max-width: 240px !important;
}

/*      MEMBERS PANEL         */

[class*="membersWrap_"] [class*="members_"] {

    width: 240px !important;
    background-color: var(--tokyo-midnight-bg-main) !important;
    border-left: 2px solid hsla(138, 95%, 75%, 0.12);
    box-shadow: -4px 0 12px rgba(129,252,166,.05);
    transition: border-color .22s ease, box-shadow .22s ease, background-color .22s ease;
}

/* OPENED PANEL */

[class*="membersWrap_"]:hover [class*="members_"],
[class*="membersWrap_"]:active [class*="members_"] {

    border-left: 2px solid transparent;
    box-shadow: none;
}

/* MEMBER APPEAR ANIMATION */

[class*="membersWrap_"] [class*="member_"] {

    opacity: 0;
    transform:translateY(5px);
    transition:opacity .2s ease, transform .2s ease !important;
}

/* MEMBERS VISIBLE */

[class*="membersWrap_"]:hover [class*="member_"],
[class*="membersWrap_"]:active [class*="member_"] {

    opacity: 1;
    transform: translateY(0);
}
